.grid {
  display: grid;
}
@media (min-width: 40rem) {
  .sm\:grid {
    display: grid !important;
  }
}
@media (min-width: 48rem) {
  .md\:grid {
    display: grid !important;
  }
}
@media (min-width: 64rem) {
  .lg\:grid {
    display: grid !important;
  }
}
@media (min-width: 40rem) {
  .sm\:col-2 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (min-width: 48rem) {
  .md\:col-2 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (min-width: 48rem) {
  .md\:col-3 {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (min-width: 64rem) {
  .lg\:col-4 {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
@media (min-width: 48rem) {
  .md\:col-2\/1 {
    grid-template-columns: 2fr 1fr !important;
  }
}
@media (min-width: 64rem) {
  .lg\:col-3\/1 {
    grid-template-columns: 3fr 1fr !important;
  }
}
@media (min-width: 48rem) {
  .md\:row-1 {
    grid-template-rows: 1fr !important;
  }
}
.row-2 {
  grid-template-rows: repeat(2, 1fr);
}
.row-1\/1\.5 {
  grid-template-rows: 1fr 1.5fr;
}
