.h-full {
  height: 100%;
}
@media (min-width: 64rem) {
  .lg\:h-full {
    height: 100%;
  }
}
.max-h-30 {
  max-height: 30rem;
}
@media (min-width: 64rem) {
  .lg\:max-h-auto {
    max-height: none;
  }
}
