:root {
  --outline-width: 1px;
  --outline-style: solid;
  --outline-color: black;
  --outline-offset: 0;
}
.f\:outline:focus {
  outline-width: var(--outline-width);
  outline-style: var(--outline-style);
  outline-color: var(--outline-color);
  outline-offset: var(--outline-offset);
}
.f\:outline-2:focus {
  outline-width: var(--outline-width);
  outline-style: var(--outline-style);
  outline-color: var(--outline-color);
  outline-offset: var(--outline-offset);
  --outline-width: 2px;
}
.f\:outline-green-4:focus {
  --outline-color: var(--color-green-4);
}
.f\:outline-green-1:focus {
  outline-color: var(--color-green-1);
}
.f\:outline-green-2:focus {
  outline-color: var(--color-green-2);
}
