:root {
  --color-green-1: #bae249;
  --color-green-2: #91ac46;
  --color-green-3: #688b05;
  --color-green-4: #1d2f30;
  --color-green-5: #0b1919;
  --color-white: white;
  --color-lightgrey: lightgrey;
  --color-grey: grey;
}
