.text-white {
  color: var(--color-white);
}
.h\:placeholder\:text-white:hover::placeholder {
  color: var(--color-white);
}
.text-grey {
  color: var(--color-grey);
}
.text-lightgrey {
  color: var(--color-lightgrey);
}
.placeholder\:text-lightgrey::placeholder {
  color: var(--color-lightgrey);
}
.text-green-1 {
  color: var(--color-green-1);
}
.h\:text-green-1:hover {
  color: var(--color-green-1);
}
.h\:text-green-2:hover {
  color: var(--color-green-2);
}
.text-green-3 {
  color: var(--color-green-3);
}
.h\:text-green-3:hover {
  color: var(--color-green-3);
}
.a\:text-green-3:active {
  color: var(--color-green-3);
}
.text-green-4 {
  color: var(--color-green-4);
}
.h\:text-green-4:hover {
  color: var(--color-green-4);
}
.a\:text-green-5:active {
  color: var(--color-green-5);
}
.text-nowrap {
  text-wrap: nowrap;
}
.text-bold {
  font-weight: bold;
}
.text-center {
  text-align: center;
}
@media (min-width: 48rem) {
  .md\:text-left {
    text-align: left !important;
  }
}
.text-0\.875 {
  font-size: 0.875rem;
}
.text-0\.75 {
  font-size: 0.75rem;
}
@media (min-width: 64rem) {
  .lg\:text-0\.75 {
    font-size: 0.75rem !important;
  }
}
.text-1 {
  font-size: 1rem;
}
@media (min-width: 64rem) {
  .lg\:text-1 {
    font-size: 1rem !important;
  }
}
.text-1\.125 {
  font-size: 1.125rem;
}
@media (min-width: 64rem) {
  .lg\:text-1\.125 {
    font-size: 1.125rem !important;
  }
}
.text-1\.25 {
  font-size: 1.25rem;
}
.text-1\.5 {
  font-size: 1.5rem;
}
@media (min-width: 64rem) {
  .lg\:text-1\.5 {
    font-size: 1.5rem !important;
  }
}
.text-2 {
  font-size: 2rem;
}
.text-2\.5 {
  font-size: 2.5rem;
}
.text-3 {
  font-size: 3rem;
}
@media (min-width: 48rem) {
  .md\:text-3 {
    font-size: 3rem;
  }
}
.line-0 {
  line-height: 0;
}
